* {
  margin: 0;
  box-sizing: border-box;
}

p, ul {
  margin: 16px 0;
}

.column {
  padding: 16px;
  max-height: 100vh;
  overflow: scroll;
}

table {
  border-spacing: 0;
  background: rgba(0, 0, 0, 0.05);
}
tr:first-child, td:first-child {
  font-weight: bold;
}
td {
  border: white 1px solid;
  padding: 4px;
}
small {
  font-weight: normal;
}

section {
  margin: 0 0 32px;
}
